In [15]:
import pandas as pd
import os
import numpy as np

In [26]:
I = 3
J = 3
N = 2
attempt = 3

In [27]:
data = {}
for i in range(2,I+1):
    for j in range(2,J+1):
        for m in range(2,N+1):
            for k in range(1,attempt+1):
                #np.save('Example_I%d_J%d_N%d_ex%d/Data_input'%(I,J,N,attempt), Data_input)
                #np.save('Example_I%d_J%d_N%d_ex%d/Data_input_type'%(I,J,N,attempt), Data_input_type )
                #np.save('Example_I%d_J%d_N%d_ex%d/VM_type'%(I,J,N,attempt), VM_type)
                #np.save('Example_I%d_J%d_N%d_ex%d/VM_speed'%(I,J,N,attempt), VM_speed)
                T_max_true = np.load('Example_I%d_J%d_N%d_ex%d/T_max_true.npy'%(i,j,m,k))
                QUBO_time = np.load('Example_I%d_J%d_N%d_ex%d/QUBO_time.npy'%(i,j,m,k))
                opt_time = np.load('Example_I%d_J%d_N%d_ex%d/opt_time.npy'%(i,j,m,k))
                opt_time_mean = np.load('Example_I%d_J%d_N%d_ex%d/opt_time_divide_N.npy'%(i,j,m,k))
                #np.save('Example_I%d_J%d_N%d_ex%d/answer'%(I,J,N,attempt), answer)
                #np.save('Example_I%d_J%d_N%d_ex%d/VM_speed'%(I,J,N,attempt), VM_speed)
                #np.save('Example_I%d_J%d_N%d_ex%d/VM_DP_time'%(I,J,N,attempt), VM_DP_time)
                #OP.to_csv('Example_I%d_J%d_N%d_ex%d/answer_pandas.csv'%(I,J,N,attempt),index=False)
                #np.save('Example_I%d_J%d_N%d_ex%d/P'%(I,J,N,attempt), P)
                QUBO = np.load('Example_I%d_J%d_N%d_ex%d/QUBO.npy'%(i,j,m,k))
                data["I=%d, J=%d, N=%d, %dth try"%(i,j,m,k)] = [T_max_true, opt_time, QUBO_time, opt_time_mean, np.shape(QUBO)]
                print (data["I=%d, J=%d, N=%d, %dth try"%(i,j,m,k)])

[array(7), array(8), array(5, dtype=int64), array(4.), (280, 280)]
[array(9), array(11), array(6, dtype=int64), array(5.5), (338, 338)]
[array(5), array(6), array(4, dtype=int64), array(3.), (200, 200)]
[array(12), array(16), array(9, dtype=int64), array(8.), (662, 662)]
[array(12), array(20), array(11, dtype=int64), array(10.), (662, 662)]
[array(19), array(36), array(19, dtype=int64), array(18.), (1012, 1012)]
[array(14), array(17), array(11, dtype=int64), array(8.5), (732, 732)]
[array(10), array(16), array(9, dtype=int64), array(8.), (540, 540)]
[array(13), array(22), array(12, dtype=int64), array(11.), (684, 684)]
[array(15), array(49), array(18, dtype=int64), array(24.5), (1462, 1462)]
[array(13), array(29), array(13, dtype=int64), array(14.5), (1173, 1173)]
[array(14), array(39), array(15, dtype=int64), array(19.5), (1266, 1266)]

In [30]:
table = pd.DataFrame.from_dict(data,orient='index',columns=['Little_greedy_algorithm','Objective_time' , 'QUBO_max_time' , 'average_processing_time_per_machine','QUBO_size'])

In [31]:
table

,Little_greedy_algorithm,Objective_time,QUBO_max_time,average_processing_time_per_machine,QUBO_size
"I=2, J=2, N=2, 1th try",7,8,5,4.0,"(280, 280)"
"I=2, J=2, N=2, 2th try",9,11,6,5.5,"(338, 338)"
"I=2, J=2, N=2, 3th try",5,6,4,3.0,"(200, 200)"
"I=2, J=3, N=2, 1th try",12,16,9,8.0,"(662, 662)"
"I=2, J=3, N=2, 2th try",12,20,11,10.0,"(662, 662)"
"I=2, J=3, N=2, 3th try",19,36,19,18.0,"(1012, 1012)"
"I=3, J=2, N=2, 1th try",14,17,11,8.5,"(732, 732)"
"I=3, J=2, N=2, 2th try",10,16,9,8.0,"(540, 540)"
"I=3, J=2, N=2, 3th try",13,22,12,11.0,"(684, 684)"
"I=3, J=3, N=2, 1th try",15,49,18,24.5,"(1462, 1462)"
"I=3, J=3, N=2, 2th try",13,29,13,14.5,"(1173, 1173)"
"I=3, J=3, N=2, 3th try",14,39,15,19.5,"(1266, 1266)"